<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверка дроби</title>
</head>
<body>
<h3>Проверка дроби на правильность </h3>
<form action="/checkFractionIsTrue">
    <div>
        <input style="text-align: center; width: 100px" type="number" name="numerator" placeholder="Числитель" required>
    </div>
    <div>--------------------</div>
    <div>
        <input style="text-align: center; width: 100px" type="number" name="denominator" placeholder="Знаменатель" required>
    </div>
    <div>
        <input style="margin-top: 10px; width: 108px" type="submit" value="Проверить">
    </div>
    <p th:text="${answer}"></p>
    <a style="margin-top: 10px;" href="/">Выйти в меню</a>
</form>
</body>
</html>