<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с дробями</title>
</head>
<body>
    <div>
        <h3>Операции по работе с дробями.<br>У дроби есть числитель и знаменатель, требуется реализовать такие операции:</h3>
    </div>
    <ol>
        <li><a href="/checkFractionIsTrue">Проверка дроби на правильность</a></li>
        <li><a href="/reduceFraction">Сокращение дроби</a></li>
        <li><a href="/operationsFractions">Операции с дробями</a></li>
    </ol>
</body>
</html>